:root {
  --fontforhead: italic small-caps bold 13px/2 cursive;
  --unicolor: #fb5849;
}

* {
  padding: 0px;
  margin: 0px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 97;
}

.a {
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.b {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 600;
  /*  align-items: center; */
}

#sc1 {
  border: 0;
  width: 10px;
}

.c:hover {
  font-size: large;
  /*color: rgb(197, 37, 37);*/
  color: var(--unicolor);
}

.c:active {
  color: rgb(112, 199, 83);
}

.c1:hover {
  font-size: large;
  color: var(--unicolor);
}
.c1:active {
  color: rgb(112, 199, 83);
}
.c2:hover {
  font-size: large;
  color: var(--unicolor);
}
.c2:active {
  color: rgb(112, 199, 83);
}
.c3:hover {
  font-size: large;
  color: var(--unicolor);
}
.c3:active {
  color: rgb(112, 199, 83);
}
.c4:hover {
  font-size: large;
  color: var(--unicolor);
}
.c4:active {
  color: rgb(112, 199, 83);
}
.c5:hover {
  font-size: large;
  color: var(--unicolor);
}
.c5:active {
  color: rgb(112, 199, 83);
}

.e1 {
  display: flex;
}

.d {
  /*border: 1px solid #000;*/
  width: 510px;
  height: 670px;
  /*   background: radial-gradient(red 20%, blue 50%, green 70%); */
  background: url(asset_s/top-left-bg.jpg);
  background-size: cover;
  justify-items: center;
  align-content: center;
}

.d1 {
  /*border: 1px solid #000;*/
  height: 100px;
  width: 250px;
  align-content: center;
}

.d2 {
  font-size: xxx-large;
  color: rgb(233, 229, 222);
}

.d3 {
  color: rgb(233, 229, 222);
}

.d4 {
  border: 0;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  color: var(--unicolor);
  font-size: small;
  /* font-weight: 500;*/
}

.e {
  /*border: 2px solid red;*/
  width: 200vh;
  background: url(asset_s/slide-02.jpg);
  object-fit: cover;
}
.e2 {
  width: 1180px;
  height: 600px;
  display: flex;
}

.e3 {
  width: 600px;
  height: 600px;
  align-content: center;
  justify-items: end;
}

.e6 {
  font-size: small;
  font-weight: 400;
  height: 130px;
  width: 400px;
  margin-right: 50px;

  justify-content: end;
}

.e5 {
  font-size: x-large;
  font-weight: 900;
  margin-right: 230px;
}

.e4 {
  /*font-size: small;*/
  font-weight: 400;
  margin-right: 350px;
  font: var(--fontforhead);
}

.e7 {
  margin-right: 10px;
}

#e9 {
  margin-left: 20px;
}

#e10 {
  margin-left: 20px;
}

.f {
  width: 580px;
  align-content: center;
}

#f1 {
  margin-left: 35px;
  margin-bottom: 15px;
  position: relative;
}
.f2 {
  position: absolute;
  color: var(--unicolor);
  width: 53px;
  height: 53px;
  /* opacity: 90%;*/
  left: 800px;
  top: 1035px;
}

.f2:hover {
  opacity: 80%;
  transition: 0.5s;
}

/*-- menu section start --*/
.menu {
  /* border: 1px solid #000; */
  width: 1180px;
  height: 690px;
  align-content: center;
  background-color: #fff8f6;
}

.m1 {
  width: 300px;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 180px;
}

#m2 {
  font: var(--fontforhead);
  color: var(--unicolor);
}

#m3 {
  font: var(--fontforhead);
  line-height: 1;
  font-size: x-large;
}

.menu4 {
  width: 1180px;
  /* display: grid; */
  display: flex;
  /* gap: 10px; */
  justify-content: space-evenly;
}

.menu5 {
  width: 210px;
  position: relative;
  overflow: hidden;
}
.menu6 {
  display: grid;
  gap: 10px;
  padding: 15px 10px;
  /* border: 1px solid #000; */
  width: 190px;
  position: absolute;
  bottom: -38%;
  transition: bottom 1s;
  background-color: #fb5849;
}

.menu7 {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--fontforhead);
  font-size: larger;
  background-color: #fb5849;
  color: white;
}

.menu5:hover .menu6 {
  bottom: 0;
  transition: all 1s;
}
/* .menu6:hover{
  bottom: 0;
  transition: all 1s ;
} */

/*-- menu section end --*/

.chefs {
  /* border: 1px solid #000; */
  width: 1180px;
  height: 650px;
}

.ourchef {
  width: 300px;
  height: 110px;
  text-align: center;
  margin-left: 430px;
  margin-top: 80px;
}

.ourchef1 {
  font: var(--fontforhead);
  color: var(--unicolor);
}

.ourchef2 {
  font-size: xx-large;
  font-weight: 1000;
}

.chef1 {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.ch1 {
  border: 1px solid #000;
  padding-bottom: 40px;
}
.ch2 {
  border: 1px solid #000;
}
.ch3 {
  border: 1px solid #000;
}

.ch5 {
  margin-top: 20px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.ch6 {
  margin-top: 20px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.ch4 {
  margin-top: 20px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}

.reservation {
  /* border: 1px solid #000; */
  width: 1180px;
  height: 600px;
  display: flex;
  background-image: url(asset_s/reservation-bg.jpg);
}

.r1 {
  /* border: 1px solid #000; */
  width: 400px;
  height: 400px;
  align-content: center;
  padding: 50px;
  margin-left: 150px;
  margin-top: 30px;
}
.r1 h5 {
  color: white;
  font: var(--fontforhead);
}
.r1 h3 {
  color: white;
  font-weight: 900;
}
.r1 h6 {
  color: white;
  font-size: small;
}
.r2 {
  display: flex;
  gap: 20px;
}

.r21 {
  border: 1px solid floralwhite;
  width: 230px;
  height: 150px;
  padding: 8px;
}

.r22 {
  border: 1px solid floralwhite;
  width: 230px;
  height: 150px;
  padding: 8px;
}

.r211 {
  /* border: 1px solid #000; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 65px;
  background-color: var(--unicolor);
  text-align: center;
  align-content: center;
  color: white;
}

.r222 {
  /* border: 1px solid #000; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 65px;
  background-color: var(--unicolor);
  text-align: center;
  align-content: center;
  color: white;
}

.r3 {
  align-content: center;
}

.r {
  height: 450px;
  width: 300px;
  background-color: white;
  font: var(--fontforhead);
}
.r input {
  font: var(--fontforhead);
  width: 130px;
  height: 30px;
  margin-left: 20px;
}

.r tr {
  padding: 10px;
  height: 30px;
}

.r4 {
  font: var(--fontforhead);
  font-weight: 900;
  font-size: xx-large;
}

.r5 {
  background-color: var(--unicolor);
  width: 400px;
  height: 30px;
  font: var(--fontforhead);
  color: white;
  border: 0;
}

.r21 h3 {
  text-align: center;
}
.r21 h5 {
  text-align: center;
}

.r22 h3 {
  text-align: center;
}
.r22 h5 {
  text-align: center;
}

.special {
  width: 1180px;
  height: 700px;
}
.sp1 {
  margin-left: 470px;
  margin-top: 100px;
  width: 250px;
  height: 100px;
  font: var(--fontforhead);
  color: var(--unicolor);
  line-height: 30px;
  text-align: center;
}

.sp1 h4 {
  font-size: x-large;
  color: #000;
}

.sp2 {
  width: 200px;
  margin-left: 470px;
  display: flex;
  gap: 20px;
}

.sp3 {
  width: 65px;
  height: 65px;
  background-color: var(--unicolor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.KlassySpecialItem {
  display: grid;
  grid-template-columns: 100px auto 80px;
  gap: 5px;
}

.KlassySpecial {
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center;
  gap: 20px;
}

.footer {
  width: 1180px;
  height: 130px;
  background-color: var(--unicolor);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--unicolor);
}
.child1 {
  display: flex;
  gap: 10px;
}

.child3 {
  font: var(--fontforhead);
  font-size: small;
  line-height: 18px;
  color: white;
}

#link{
  color: black;
}