#nav :hover {
  border: 1px solid #000;
  background-color: darkslategray;
  padding: 8px;
  transition: padding 0.3s ease-in-out;
}

#about {
  /* background-color: ; */
  height: 450px;
  color: #4c78a4;
  /* color: #7cdbe5; */
}

.dabba {
  /* background: linear-gradient(180deg, #ff9a9e, #fad0c4); */
  /* background: linear-gradient(180deg, #000000, #0f9b0f); */
  /* background: linear-gradient(180deg, #20002c, #c31432); */
  background: linear-gradient(180deg, #232526, #4b7299);
}

#img {
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  /* background-color: black; */
  /* background-position: center; */
  /* top: 0; */
  /* box-shadow: brown; */
  border: 2px solid #000;
}

#about1 {
  background-color: #232526;
  box-shadow: 0 4px 15px rgba(218, 222, 225, 0.5);
}

#education {
  height: 880px;
}

#edu {
  background: linear-gradient(90deg, #232526, rgba(11, 112, 212, 0.76));
  width: 500px;
  color: white;
  /* box-shadow: 0 4px 15px rgba(218, 222, 225, 0.5); */
  /* box-shadow: 0 4px 15px rgba(18, 212, 230, 0.5); */
}

.edugrid {
  /* display: grid; */
  grid-template-columns: 500px 500px 500px;
}

#tech {
  box-shadow: 0 4px 15px rgba(181, 232, 15, 0.5);
}



